MNIST/
celeba/
wandb/
.env/
__pycache__/
*.py[cod]
*$py.class
*.pkl
*.png
analysis_DPL.py
logs/
*.tar.gz
*.whl
federated/
metadata.json
train.pt
dataset/
test_ds
train_ds
*.pth
elia/
old_fltemplate/
training_data/
*.txt
